*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: rgb(93, 82, 82);
  color: white;
}
h1{
  height: 25px;
  width: 25px;
}
button{
  height: 55px;
  width: 100px;
  margin: 10px;
  padding: 5px 10px;
}
.val{
  display: flex;
  height: 25vh;
  width: 30vw;
  justify-content: center;
  gap: 50px;
}