*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height:100%;
  width: 100%;
  background-color: rgb(62, 60, 60);
  color: rgb(225, 224, 224);
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
.card p{
  margin: 20px 0;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}
.card button{
  padding: 10 px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
}