*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height:100%;
  width: 100%;
  background-color: rgb(62, 60, 60);
  color: rgb(225, 224, 224);
}
.card{
  background-color: rgb(156, 101, 110);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: rgb(38, 122, 155);
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
}